#include "resource.h"

// icon
ICON_NEBULUS    	ICON    ./resources/nebulus.ico
CUR_NEBULUS			CURSOR	./resources/cursor.cur

MAIN_MENU MENU // menu name is MAIN MENU (SEE NUMERICAL DEFINITION IN HEADER FILE)
{
	// each popup represents a drop down menu
	POPUP "&File" /*	letter after ampersand is the letter which must be pressed
						along with alt to select item */
    	{
        	MENUITEM "E&xit",       MENUID_EXIT // (MENUID_EXIT defined in header file)
    	}
    	POPUP "&Help"
    	{
        	MENUITEM "&About",      MENUID_ABOUT
    	}
}
